<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers">

	<resultMap id="SiteResultMap" type="Site">
		<id property="id" column="id" />
		<result column="url" property="url" />
		<result column="html" property="html" />
		<result column="pagerank" property="pageRank" />
		<collection property="linksOut" column="id" javaType="List"
			ofType="Integer" select="mappers.getLinksOutBySiteId" fetchType="eager" />
	</resultMap>

	<select id="getAllSites" resultMap="SiteResultMap">
		select * from sites
		order by
		pagerank
	</select>

	<delete id="deleteSiteById" parameterType="int">
		DELETE FROM sites
		WHERE id= #{id}
	</delete>

	<insert id="insertSite">
		INSERT IGNORE INTO sites (url, html, pagerank) VALUES (#{url}, #{html}, 1.0)
	</insert>

	<insert id="insertSites">
		INSERT IGNORE INTO sites (url, html, pagerank) VALUES
		<foreach item="item" collection="list" separator=",">
			(#{item.url}, #{item.html}, 1.0)
		</foreach>
	</insert>

	<select id="getSiteIdBySiteUrl" parameterType="String"
		resultType="Integer">
		SELECT id FROM sites WHERE url = #{url}
	</select>

	<insert id="insertSiteHaveLinks" parameterType="java.util.HashMap">
		INSERT IGNORE INTO sites_have_links (id_out, id_in) VALUES (#{id_out},
		#{id_in})

	</insert>

</mapper>
